{% load static %}

<!-- JS Global Compulsory -->
        <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
        <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

        <!-- JS Implementing Plugins -->
        <script src="{% static 'vendor/appear.js' %}"></script>
        <script src="{% static 'vendor/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
        <script src="{% static 'vendor/svg-injector/dist/svg-injector.min.js' %}"></script>
        <script src="{% static 'vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
        <script src="{% static 'vendor/fancybox/jquery.fancybox.min.js' %}"></script>
        <script src="{% static 'vendor/typed.js/lib/typed.min.js' %}"></script>
        <script src="{% static 'vendor/slick-carousel/slick/slick.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

        <!-- JS Electro -->
        <script src="{% static 'js/hs.core.js' %}"></script>
        <script src="{% static 'js/components/hs.countdown.js' %}"></script>
        <script src="{% static 'js/components/hs.header.js' %}"></script>
        <script src="{% static 'js/components/hs.hamburgers.js' %}"></script>
        <script src="{% static 'js/components/hs.unfold.js' %}"></script>
        <script src="{% static 'js/components/hs.focus-state.js' %}"></script>
        <script src="{% static 'js/components/hs.malihu-scrollbar.js' %}"></script>
        <script src="{% static 'js/components/hs.validation.js' %}"></script>
        <script src="{% static 'js/components/hs.fancybox.js' %}"></script>
        <script src="{% static 'js/components/hs.onscroll-animation.js' %}"></script>
        <script src="{% static 'js/components/hs.slick-carousel.js' %}"></script>
        <script src="{% static 'js/components/hs.show-animation.js' %}"></script>
        <script src="{% static 'js/components/hs.svg-injector.js' %}"></script>
        <script src="{% static 'js/components/hs.go-to.js' %}"></script>
        <script src="{% static 'js/components/hs.selectpicker.js' %}"></script>
