{% extends 'base.html' %}
{% block title %}Payments{% endblock %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="row">
	<h4 class="text-center">Review Your Order And Make Payment</h4>
	<aside class="col-lg-8">
        <div class="card">
            <h5 class="card-header">Billing Details</h5>
            <div class="card-body">
                <p class="card-text mb-0">{{ order.full_name }}</p>
				<p class="card-text mb-0">{{ order.full_address }}</p>
				<p class="card-text mb-0">{{ order.city }}, {{ order.state }}</p>
				<p class="card-text mb-0">{{ order.country  }}</p>
				<p class="card-text mb-0">{{ order.email  }}</p>
				<p class="card-text mb-0">{{ order.phone_number  }}</p>
            </div>
			<h5 class="card-header">Shipping Address</h5>
			<div class="card-body">
				<p class="card-text mb-0">{{ order.shipping_address }}</p>
				<p class="card-text mb-0">{{ order.shipping_city }}, {{ order.shipping_state }}</p>
				<p class="card-text mb-0">{{ order.shipping_country  }}</p>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header">Review Products</h5>
            <div class="card-body">
                <table class="table table-borderless table-shopping-cart">
					<thead class="text-muted">
					<tr class="small text-uppercase">
					  <th scope="col">Product</th>
					  <th scope="col" width="120">Quantity</th>
					  <th scope="col" width="120">Price</th>
					</tr>
					</thead>
					<tbody>
					{% for cart_item in cart_items %}
					<tr>
						<td>
							<figure class="itemside align-items-center">
								<div class="aside"><img src="{{ cart_item.product.image.url }}" class="img-sm"></div>
								<figcaption class="info">
									<a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
									{% if cart_item.variations.all %}
									{% for item in cart_item.variations.all %}
									<p class="text-muted small">{{ item.variation_category | capfirst }}: {{ item.variation_value | capfirst  }} <br>
									{% endfor %}
									{% endif %}
								</figcaption>
							</figure>
						</td>
						<td>
							<!-- col.// -->
										<div class="col">
											<div class="input-group input-spinner">
												<label class="form-control">{{cart_item.quantity}}</label>
												<div class="input-group-append">
													<form action="{% url 'add_to_cart' cart_item.product.id %}" method="POST">
														{% csrf_token %}
														{% for item in cart_item.variations.all %}
														<input type="hidden" name="{{ item.variation_category | lower }}" value="{{ item.variation_value | capfirst }}">
														{% endfor %}
													</form>
												</div>
											</div> <!-- input-group.// -->
										</div> <!-- col.// -->
						</td>
						<td>
							<div class="price-wrap">
								<var class="price">₦ {{ cart_item.sub_total }}</var>
								<small class="text-muted">₦ {{ cart_item.product.price }} each </small>
							</div> <!-- price-wrap .// -->
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
            </div>
        </div>

	</aside> <!-- col.// -->
	<aside class="col-lg-4">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right">₦ {{ total }}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Shipping Fee:</dt>
			  <dd class="text-right"> ₦ {{shipping_fee}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total:</dt>
			  <dd class="text-right text-dark b"><strong>₦ {{grand_total}}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="{% static 'images/misc/payments.png' %}" height="26">
			</p>
<!--			<a href="{% url 'checkout' %}"  > Make Payment </a>-->
			<form id="paymentForm">
<!--			  <div class="form-group">-->
<!--				<label for="email-address">Email Address</label>-->
<!--				<input class="form-control" type="email" id="email-address" placeholder="re-enter email address to get invoice" required />-->
<!--			  </div>-->
			  <div class="form-submit">
				<button type="submit" class="btn btn-primary btn-block" onclick="payWithPaystack(event)"> Pay with Paystack </button>
			  </div>
			</form><br>
			<script src="https://js.paystack.co/v1/inline.js"></script>
			<form onsubmit="makePayment()" id="payment-form">
				<button type="button" onclick="makePayment(event)" value="Submit" class="btn btn-primary btn-block">Pay with Remitta</button>
           </form>
			 <script type="text/javascript" src="https://remitademo.net/payment/v1/remita-pay-inline.bundle.js"></script>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->

</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script>
	const paymentForm = document.getElementById('paymentForm');
paymentForm.addEventListener("submit", payWithPaystack, false);
function payWithPaystack(e) {
  e.preventDefault(event);
  let handler = PaystackPop.setup({
    key: '{{pk_key}}',
    email: "{{ order.email  }}",
    amount: {{grand_total}} * 100,
    currency: "NGN",
    // label: "Optional string that replaces customer email"
    onClose: function(){
      alert('Window closed.');
    },
    metadata: {
    	custom_fields: [
			 {
				display_name: "{{ order.full_name }}",
				variable_name: "{{ order.full_name }}"
			}
    	]
    },
    callback: function(response){
      let message = 'Payment complete! Reference: ' + response.reference;
      console.log(response.reference)
      alert(message);
      var referenceid = response.reference;

      $.ajax({
      	data: {
      		url: "{% url 'payments' order.id %}",
      		csrfmiddlewaretoken: "{{ csrf_token }}",
      		'referenceid': referenceid,
      		'amount': {{grand_total}},
      		'status': "completed",
      		},
      	// change to get if it didnt work
      	type: "POST",
      	url: "{% url 'payments' order.id %}",
      	beforesend: function() {
      		console.log("Sending request");
      		$(".alert").text("Sending request");
      		window.location = "{% url 'payments' order.id %}";
      	},
      	success: function(response) {
      		if (response[3].status == "success") {
      			$(".alert").removeClass("alert-warning");
      			$(".alert").addClass("alert-success");
      			$(".alert").text("Transaction Verified");
      			console.log("Transaction Verified");
      			$("form").trigger("reset");
      		}else {
      			$(".alert").text("Transaction reference not found");
      		}
      	}
      })
      window.location = "{% url 'payments' order.id %}";
      callback_url = window.location;y
    }
  });
  handler.openIframe();

}
</script>
  <script>
  const paymentform = document.getElementById('payment-form');
	paymentform.addEventListener("submit", makePayment, false);
      function makePayment(e) {
      e.preventDefault(event);
          var form = document.querySelector("#payment-form");
          var paymentEngine = RmPaymentEngine.init({
              key: 'QzAwMDAyNzEyNTl8MTEwNjE4NjF8OWZjOWYwNmMyZDk3MDRhYWM3YThiOThlNTNjZTE3ZjYxOTY5NDdmZWE1YzU3NDc0ZjE2ZDZjNTg1YWYxNWY3NWM4ZjMzNzZhNjNhZWZlOWQwNmJhNTFkMjIxYTRiMjYzZDkzNGQ3NTUxNDIxYWNlOGY4ZWEyODY3ZjlhNGUwYTY=',
             // transactionId: Math.floor(Math.random()*1101233), // Replace with a reference you generated or remove the entire field for us to auto-generate a reference for you. Note that you will be able to check the status of this transaction using this transaction Id
              customerId: "{{ order.email }}",
              firstName: "{{ order.full_name }}",
              lastName: " {{ order.last_name }}",
              email: "{{ order.email }}",
              amount: {{ grand_total }},
              narration: "purchase by {{ order.full_name }}",
              onSuccess: function sendData(response) {
                  fetch("{% url 'payments' order.id %}", {
                  	method: "POST",
                  	headers: {
                  	"Content-type": "appllication/json",
                  	"x-CSRFToken": "{{ csrf_token }}",
                  },
                  body: JSON.stringify({
				  	'referenceid': response.transactionId,
					'amount': {{grand_total}},
					'status' : "completed",
					})
					})
                  // console.log('callback Successful Response', response);
                 //  .then((response) => response.json())
                   .then((data) => {
                   	window.location.href = "{% url 'payments' order.id %}"
                   	})
              },
              onError: function (response) {
                  console.log('callback Error Response', response);

              },
              onClose: function () {
                  console.log("closed");
              },
			});

           paymentEngine.showPaymentWidget();


      }


  </script>

{% endblock %}